@section Imports
{
    <link rel="stylesheet" type="text/css" href="~/css/bowling.css" asp-append-version="true">
}

@section HeaderControls
{
    <div class="header-controls">
        <input type="button" class="button" value="Select City">
        <input type="date" class="date-picker">
    </div>
}

<div class="main-content">
    <input type="button" class="button" value="Select City">
</div>
<div class="main-content">
    <input type="button" class="button" value="Select City">
</div>