@{
    Layout = "_Layout";
    ViewData["Title"] = "Hub"; 
}
@section Imports
{
    <link rel="stylesheet" type="text/css" href="~/css/hub.css" asp-append-version="true">
}

<h1>Select a place</h1>

<div class="cards-container">
</div>

@section Scripts
{
    <script src="~/js/hub.js" asp-append-version="true"></script>
}