<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - BowlHub</title>
    <link rel="stylesheet" type="text/css" href="~/css/reset.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/global.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/layout.css" asp-append-version="true">
    @await RenderSectionAsync("Imports", required: false)
</head>
<body>
<header>
    <a href="/"><div class="svg-logo"></div></a>
    <div class="header-btns">
        @await RenderSectionAsync("HeaderBtns", required: false)
    </div>
</header>
<main role="main">
    @RenderBody()
</main>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>