@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>BowlHub</title>
    <link rel="stylesheet" type="text/css" href="~/css/reset.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/global.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/visit.css" asp-append-version="true">
</head>
<body>
<main>
    <div class="block">
        <h1>BowlHub</h1>
        <p class="description">
             Discover the world of exciting bowling at our modern bowling club with high-quality equipment, 
                            a cozy atmosphere, and a wide range of entertainment for all ages!
        </p>
    </div>
    <div class="block">
        <div class="right-side">
            <h1>Get started</h1>
            <div class="buttons">
                <a href="/auth/login"><input type="button" value="Log in"/></a>
                <a href="/auth/signup"><input type="button" value="Sign in"/></a> 
            </div>
            <a href="/places">
                <input type="button" value="Select the place" style="width: 368px; margin-top: 8px;"/> 
            </a>
        </div>
    </div>
</main>
</body>
</html>