@font-face {
    font-family: "Etna";
    src: url("../fonts/ETNA.otf") format("opentype");
}

:root {
    --button-color-1: #476685;
    --logo-color-1: #EAEDED;
    --main-color-1: #34495E;
    --main-color-2: #EAEDED;
    --button-hover-1: #597d9f;
}