
main{
    height: calc(100vh - 16px);
    margin: 8px;
    display: grid;
    grid-template-columns: 60% calc(40% - 8px);
    grid-column-gap: 8px;
}

.block{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 10px 30px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
}

.block:nth-child(1){
    background-color: #ece1b5;
}
.block:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

h1 {
    color: #e5a051;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
}

p.description{
    color: #e5a051;
    padding-top: 27%;
    font-size: 34px;
    width: 65%;
    font-family: "Etna", sans-serif;
}

.right-side{
    display: flex;
    flex-direction: column;
}

.right-side h1{
    font-size: 42px;
    text-align: center;
    font-family: "Arial", sans-serif;
    color: var(--main-color-1);
}

.right-side .buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 8px;
}

.buttons input[type="button"] {
    border: 0;
    border-radius: 5px;
    background-color: #2a78ea;
    width: 180px;
    padding: 10px 0 15px;
    font-family: "Etna", sans-serif;
    color: #ffffff;
    cursor:pointer;
}

.buttons input[type="button"]:hover{
    background-color: #448aee;
}